/*********TAG SELECTORS**********/

/*********CLASS SELECTORS*********/
.red {
    color: red;
}

.center {
  text-align: center;
}

.family-member-card {
  margin-bottom: 10px;
}

.centre-preference-check {
  margin-right: 20px;
}

/*********ID SELECTORS*********/
#introduction{
    background-color: #bbbfca;
}

#main-footer {
    background-color: black;
}

#footer-info{
    color:white;
    text-align: center;
    font-size: larger;
}

#footer-link{
    color: white;
    text-decoration: none;
}

#footer-link:hover{
    color:grey;
}
