<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Canvaccine</title>
        <meta name="description" content="Canada's vaccination sign-up engine'">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript">
            jQuery(document).ready(function(){
                $("#deleteme").html('Hello!');
                $("#change-button").click(function(){
                    $("#deleteme").html('clicked!');
                })
            });
        </script>
        <style>
          .red {
            color: red;
          }
        </style>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <section id="introduction">
            <h1>Canvaccine</h1>
            <p>Welcome to Canada's vaccination blah blah. Please enter all information as it appears on your health card.</p>
        </section>

        {% if error %}
          <p>Signup Error: <span class="red">{{ error }}</span>!</p>
        {% else %}
          <p>no errors in sight!</p>
        {% endif %}

        <form action="/signup" method="post">
            
            <fieldset>
                <legend>Personal Information</legend>

                <label for="first-name">First name:</label><br>
                <input type="text" name="first-name"><br>

                <label for="last-name">Last name:</label><br>
                <input type="text" name="last-name"><br>

                <label for="email">Email:</label><br>
                <input type="text" name="email"><br>

                <label for="age">Age:</label><br>
                <input type="text" name="age"><br>
            </fieldset>
            
            <fieldset>
                <legend>Groups</legend>

                <p>For the sake of convenience you may choose to be scheduled along with members of your household.  If you wish to do so, please enter their health card numbers below.</p>

                <p>We recommend that high-risk individuals do not sign up as a group since this may delay their vaccination date.</p>

                <!-- Insert a bunch of buttons -->
            </fieldset>

            <fieldset>
                <legend>Vaccination Centre Preferences</legend>

            </fieldset>

            <button>GO!</button>

        </form>

        <button id="change-button">change name</button>

        <div id="deleteme">hi</div>
    </body>
</html>