<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Last Wave Portal</title>
        <meta name="description" content="Canada's COVID-19 vaccination portal'">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Stylesheets -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link href="/static/css/styles.css" rel="stylesheet">
        <!-- Scripts -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/script.js"></script>
    </head>
    <body>
        
        <!-- Main Heading -->
        <section id="main-heading">
            <div id="heading-banner" class="pb-3">
                <img src="/static/images/heading-banner.png" alt="Last Wave | COVID-19 Vaccination Portal Banner" width=100%>
            </div>
        </section>


        <!-- Introduction -->
        <section id="introduction" class="m-4">
            <div id="intro-paragraph" class="p-3 relative intro-paragraph">
                <button id="intro-hide-button" class="intro-hide-button btn btn-secondary">-</button>
                <h2 class="fixed-height">Welcome</h2>
                <p>Welcome to Canada’s COVID-19 vaccination portal.  In an effort to stop the effects of the worldwide coronavirus pandemic - declared by the World Health Organization on March 11, 2020 - we encourage as many Canadians as possible to get vaccinated at no charge.<br><br>

                Science has shown that vaccination is the most effective way to protect your family from COVID-19 and stop the spread of the virus.  When a large percentage of the population becomes immune to COVID-19 the spread of the virus will slow down or stop.  Every Canadian that gets vaccinated brings our country one step closer to that day.<br><br>
                
                Vaccines will not be mandatory, however we encourage your household to join our nationwide effort to leave the coronavirus pandemic behind and move forward as a healed nation. </p>
            </div> 
        </section>

        <!-- Form -->
        <section id="form" class="mx-4">
            <form action="/signup" method="POST">
                <!-- Personal Info -->
                <h2>Personal Information</h2>
                <div class="row mb-3">
                    <div class="col">
                        <label for="first-name">First name</label>
                        <input type="text" class="form-control" name="first-name" placeholder="First Name">
                    </div>
                    <div class="col">
                        <label for="first-name">Last name</label>
                        <input type="text" class="form-control" name="last-name" placeholder="Last Name">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="health-card-num">Provincial Health Card Number</label>
                        <input type="text" class="form-control" name="health-card-num" placeholder="Health Card Number">
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-md-8">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" placeholder="Email">
                    </div>
                    <div class="col-md-4">
                        <label for="year">Year of Birth</label>
                        <select id="yearSelect" class="form-control" name="year">
                            <option selected>Choose...</option>
                            <!-- Options added with JQuery -->
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-8">
                        <!-- TO-DO : Update this in terms with govt guidelines -->
                        <p>Do you consider yourself to be a high-risk individual?  High-risk individuals meet one or more of the following criteria</p>
                        <details closed="">
                            <summary>See Criteria</summary>
                            <ul>
                                <li>adults  in or from Indigenous communities not included in stage 1, including those who  live in urban settings</li>
                                <li>residents and staff of all other shared       living settings, such as:
                                    <ul>
                                        <li>shelters</li>
                                        <li>group homes</li>
                                        <li>correctional facilities</li>
                                        <li>housing for migrant workers</li>
                                    </ul>
                                </li>
                                <li>adults  60 to 69 years of age:
                                    <ol>
                                        <li>beginning with those 65 years  of age or older, <strong>then</strong></li>
                                        <li>decreasing the age limit to 60  years</li>
                                    </ol>
                                </li>
                                <li>adults  in racialized and marginalized communities </li>
                                <li>first  responders, including:
                                    <ul>
                                        <li>police </li>
                                        <li>military</li>
                                        <li>firefighters</li>
                                        <li>coast guard</li>
                                    </ul>
                                </li>
                                <li>frontline essential workers  who can’t work virtually and have direct close physical contact with the  public, such as:
                                    <ul>
                                        <li>postal services</li>
                                        <li>border services</li>
                                        <li>rotational workers </li>
                                        <li>grocery store staff</li>
                                        <li>transportation workers</li>
                                        <li>those involved in the pandemic  response</li>
                                        <li>food production or  manufacturing workers</li>
                                        <li>teachers and school or  childcare staff not working virtually </li>
                                    </ul>
                                </li>
                                <li>essential primary caregivers  for people who:
                                    <ul>
                                        <li>can’t care for themselves <strong>and</strong></li>
                                        <li>are at high risk of severe  illness from COVID-19 due to advanced age (60 years of age or older)</li>
                                    </ul>
                                </li>
                            </ul>
                        </details>
                    </div>
                    <div class="col-md-4">
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="is-at-risk" value="at-risk">
                            <label class="form-check-label" for="is-at-risk">Yes</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="is-at-risk" value="not-at-risk">
                            <label class="form-check-label" for="is-at-risk">No</label>
                        </div>
                    </div>
                </div>
                <!-- Vaccination Groups -->
                <hr>
                <h2>Vaccination Groups</h2>
                <div class="row mb-3">
                    <div class="col-md-8">
                        <p>You may choose to be scheduled along with members of your household.  If you wish to do so, please enter their health card numbers below. <b>Note:</b> Each member of the household must also fill out this form indicating the members in the vacination group.</p>
                    </div>
                    <div class="col-md-4">
                        <button id="addFamilyMemberButton" type="button" class="btn btn-secondary btn-lg btn-block">Add Family Member</button><br>
                    </div>
                </div>
                <div id="familyMemberCards" class="row mb-3">
                </div>
                <!-- Vaccination Centre Preferences -->
                <hr>
                <h2>Vaccination Centre Preferences</h2>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <p>Please select the province where you recide to see vaccination centres near you.  In order to be consiredered a resiedent of said province you must provide proof of residence (lease agreement, landlord's letter, confirmation of employment, etc.) or an active health card of said province.</p>
                    </div>
                    <div class="col-md-6">
                        <label for="province">Province</label>
                        <select id="provinceSelect" class="form-control" name="province">
                            <option selected>Choose...</option>
                            <option value="AB">Alberta</option>
                            <option value="BC">British Columbia</option>
                            <option value="MB">Manitoba</option>
                            <option value="NB">New Brunswick</option>
                            <option value="NL">Newfoundland & Labrador</option>
                            <option value="NT">Northwest Territories</option>
                            <option value="NU">Nunavut</option>
                            <option value="NS">Nova Scotia</option>
                            <option value="ON">Ontario</option>
                            <option value="PE">Prince Edward Island</option>
                            <option value="QC">Quebec</option>
                            <option value="SK">Saskatchewan</option>
                            <option value="YT">Yukon</option>
                        </select>
                    </div>
                </div>
                <div id="centrePreference">
                </div>

                <hr>

                <button class="btn btn-secondary btn-lg btn-block mb-3">Sign up</button>

            </form>
        </section>

        <Footer id="main-footer">
            <div id="footer-info" class="py-4">
                <p> For more information on the Canadian vaccination plan please visit:</p>
                <a href="https://www.canada.ca/en/public-health/services/diseases/coronavirus-disease-covid-19/vaccines.html" id="footer-link">www.canada.ca</a></p>
            </div>
        </Footer>
    </body>
</html>