<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Last Wave Portal</title>
        <meta name="description" content="Canada's COVID-19 vaccination portal'">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Stylesheets -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link href="../css/styles.css" rel="stylesheet">
        <!-- Scripts -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="../js/script.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        
        <!-- Main Heading -->
        <section id="main-heading">
            <div id="heading-banner" class="pb-3">
                <img src="../images/heading-banner.png" alt="Last Wave | COVID-19 Vaccination Portal Banner" width=100%>
            </div>
        </section>


        <!-- Introduction -->
        <section id="introduction" class="mx-4">
            <p>INSERT INTRO MESSAGE HERE</p>
        </section>

        <!-- {% if error %}
          <p>Signup Error: <span class="red">{{ error }}</span>!</p>
        {% else %}
          <p>no errors in sight!</p>
        {% endif %} -->

        <!-- Form -->
        <section id="form" class="mx-4">
            <form action="/signup" method="POST">
                <!-- Personal Info -->
                <h2>Personal Information</h2>
                <div class="row mb-3">
                    <div class="col">
                        <label for="first-name">First name</label>
                        <input type="text" class="form-control" name="first-name" placeholder="First Name">
                    </div>
                    <div class="col">
                        <label for="first-name">Last name</label>
                        <input type="text" class="form-control" name="last-name" placeholder="Last Name">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="health-card-num">Provincial Health Card Number</label>
                        <input type="text" class="form-control" name="health-card-num" placeholder="Health Card Number">
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-md-8">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" placeholder="Email">
                    </div>
                    <div class="col-md-4">
                        <label for="year">Year of Birth</label>
                        <select class="form-control" name="year">
                            <option selected>Choose...</option>
                            <option value="2020">2020</option>
                            <option value="2019">2019</option>
                            <!-- TO-DO : Insert options here. -->
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-8">
                        <!-- TO-DO : Update this in terms with govt guidelines -->
                        <p>Do you consider yourself to be a high-risk individual?  High-risk individuals meet one or more of the following criteria</p>
                        <ul>
                            <li>Lung Disease</li>
                            <li>Other stuff</li>
                            <li>More Stuff</li>
                            <li> Even more stuff</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="is-at-risk" value="at-risk">
                            <label class="form-check-label" for="is-at-risk">Yes</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" name="is-at-risk" value="not-at-risk">
                            <label class="form-check-label" for="is-at-risk">No</label>
                        </div>
                    </div>
                </div>
                <!-- Vaccination Groups -->
                <hr>
                <h2>Vaccination Groups</h2>
                <div class="row mb-3">
                    <div class="col">
                        <p>You may choose to be scheduled along with members of your household.  If you wish to do so, please enter their health card numbers below. <b>Note:</b> Each member of the household must also fill out this form indicating the members in the vacination group.</p>
                        <button type="button" class="btn btn-secondary mb-3">Add Family Member</button><br>
                        <!-- TO - DO : Insert More Text Field Option Here -->
                        <label for="member1">Family Member 1</label>
                        <input type="text" class="form-control" name="member1" placeholder="Health Card Number">
                    </div>
                </div>
                <!-- Vaccination Centre Preferences -->
                <hr>
                <h2>Vaccination Centre Preferences</h2>

            </form>
        </section>


    
            <button>GO!</button>
        <button id="change-button">change name</button>

        <div id="deleteme">hi</div>

        <Footer id="main-footer">
            <div id="footer-info" class="py-4">
                <p> For more information on the Canadian vaccination plan please visit:</p>
                <a href="https://www.canada.ca/en/public-health/services/diseases/coronavirus-disease-covid-19/vaccines.html" id="footer-link">www.canada.ca</a></p>
            </div>
        </Footer>
    </body>
</html>