<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Last Wave Portal</title>
        <meta name="description" content="Canada's COVID-19 vaccination portal'">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Stylesheets -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link href="/static/css/styles.css" rel="stylesheet">
        <!-- Scripts -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/script.js"></script>
    </head>
    <body>
        
        <!-- Main Heading -->
        <section id="main-heading">
            <div id="heading-banner" class="pb-3">
                <img src="/static/images/heading-banner.png" alt="Last Wave | COVID-19 Vaccination Portal Banner" width=100%>
            </div>
        </section>


        <!-- Introduction -->
        <section id="introduction" class="m-4">
            <div id="intro-paragraph" class="p-3 relative intro-paragraph">
                <h2 class="fixed-height">Success!</h2>
                <p>You've been signed up!</p>
            </div> 
        </section>

        <section>
            <div class="p-5">
                <p>You will receive an email conformation shortly.</p>
            </div> 
        </section>

        <Footer id="main-footer">
            <div id="footer-info" class="py-4">
                <p> For more information on the Canadian vaccination plan please visit:</p>
                <a href="https://www.canada.ca/en/public-health/services/diseases/coronavirus-disease-covid-19/vaccines.html" id="footer-link">www.canada.ca</a></p>
            </div>
        </Footer>
    </body>
</html>